<div class="container-fluid">
    <!-- Formulario oculto solo para enviar datos -->
    <form id="cash_register-form" method="POST">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ cash_register.pk }}">
        <input type="hidden" name="opening_amount" value="{{ initial }}">
        <!-- Agrega aquí otros campos ocultos si lo necesitas -->
    </form>

    <!-- Visualización informativa -->

    <div class="row mb-2">
        <div class="col-sm-6 text-start">Ingreso Total:</div>
        <div class="col-sm-6 text-end">S/. {{ income_total|floatformat:2 }}</div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-6 text-start">Gasto Total:</div>
        <div class="col-sm-6 text-end">S/. {{ expense_total|floatformat:2 }}</div>
    </div>

    <hr class="my-3">

    <div class="row mb-2">
        <div class="col-sm-6 text-start">Monto Final:</div>
        <div class="col-sm-6 text-end fw-bold text-success">S/. {{ final_total|floatformat:2 }}</div>
    </div>
</div>


<script>
    $(function() {
        $('#cash_register-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'close-cash_register' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert_toast("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg")
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>