<div class="container-fluid">
    <form action="" id="cash_register-form">
        <input type="hidden" name="id" value="{% if cash_register.pk %}{{cash_register.pk}}{% endif %}">
        {% if cash_register.close_date %}
            <div class="form-group mb-3">
                <label for="reopen_register" class="form-label">Reabrir Caja</label>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="reopen_register" name="reopen_register" value="1">
                    <label class="form-check-label" for="reopen_register">Activar para reabrir la caja cerrada</label>
                </div>
            </div>
        {% endif %}

        {% if request.user.is_superuser %}
            <div class="form-group mb-3">
                <label for="user_id" class="control-label">Usuario</label>
                <select name="user_id" id="user_id" class="form-select form-select-sm rounded-0" required>
                    <option value="" {% if not cash_register.user_id %}selected{% endif %}>Seleccionar Usuario</option>
                    {% for user in users %}
                        <option value="{{ user.id }}" {% if cash_register.user_id == user.id %}selected{% endif %}>
                            {{ user.username }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        {% else %}
            <span>¿Estás seguro de abrir la caja de hoy?</span>
            <input type="hidden" name="user_id" value="{{ request.user.id }}">
        {% endif %}
    
    </form>
</div>
<script>
    $(function() {
        $('#cash_register-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save_cash_register-page' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert_toast("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg")
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>